[submodule "Fast-RTPS"]
	path = Fast-RTPS
	url = https://github.com/eProsima/Fast-RTPS.git
[submodule "Fast-CDR"]
	path = Fast-CDR
	url = https://github.com/eProsima/Fast-CDR.git
[submodule "cmake_hexagon"]
	path = cmake_hexagon
	url = https://github.com/ATLFlight/cmake_hexagon.git
